.footer-main{
    border-top:1px solid var(--clr-border-light);
    padding: 1em 3em;
    background: white;
    /* position: fixed;
        left: 0;
        bottom: 0;
        width: 100%; */
}

.footer-main p{
    color: var(--clr-text-light);
    font-weight: 400;
    font-size: 18px;
}